<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49425535697-1hc7274ncb1f30643bmoqkv4a02bk67s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49425535697-1hc7274ncb1f30643bmoqkv4a02bk67s</string>
	<key>API_KEY</key>
	<string>AIzaSyCttyGomEXrrIA3aO2fB3V4v8gdBPLnM3g</string>
	<key>GCM_SENDER_ID</key>
	<string>49425535697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mallorcaplanner</string>
	<key>PROJECT_ID</key>
	<string>mallorcaplanner</string>
	<key>STORAGE_BUCKET</key>
	<string>mallorcaplanner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49425535697:ios:08d5675ea084f0cf8aebf0</string>
</dict>
</plist>